<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Emotion Detector</title>
  </head>
  <body>
    <h1>Emotion Detector</h1>
    <form action="/emotionDetector" method="post">
      <label for="text">Enter text:</label><br />
      <input type="text" id="text" name="text" size="80" /><br /><br />
      <input type="submit" value="Analyze" />
    </form>
    {% if message %}
    <p style="font-family: Courier New; color: DodgerBlue">
      {{ message|safe }}
    </p>
    {% endif %}
  </body>
</html>
